# Visualizing final scores in the NHL, 1917 to today

I start, as I usually do - aimlessly gathering all the data I can possibly get my hands on.

## Use NHL.com API calls to gather data

My approach to data gathering goes something like this:
1. Muck around on [nhl.com/stats](http://www.nhl.com/stats/) until I find some interest
2. Use 'Inspect' (Crtl+Shit+I on Chrome/Windows) to view calls to the NHL REST API ([Check this out](http://www.gregreda.com/2015/02/15/web-scraping-finding-the-api/) for more on this)
3. Fiddle with the URL of the call till I get what I want

In this case, I wanted the results of all the games ever played in the NHL and the API seemed to truncate the data at 50k rows, so I ended up splitting the calls to the API into 5 year chunks (could have been larger sections).

In [1]:
import json
import requests
import pandas as pd
import numpy as np
import datetime

# Get current year
now = datetime.datetime.now().year

# Create range of years to get data, starting with 1917, leading to now.
# The REST api call doesn't seem to return more that 50k lines at a time.
# So, I've split up the year range into 5 year sections (could be 10)
years = np.arange(1917,now,5)

# Ensure the final year in the range is the current year
if years[-1] != now: years[-1] = now 

# Create empty data frame
df = pd.DataFrame()
    
# For each year span, generate URL and get data
for i in range(len(years)-1):
    
    # Create URL
    URL = ("http://www.nhl.com/stats/rest"
           "/team?"
           "isAggregate=false"
           "&reportType=basic"
           "&isGame=true"
           "&reportName=teamsummary"
           "&cayenneExp=gameDate%3E=%22"
           +str(years[i])+
           "-08-01%22%20and%20gameDate%3C=%22"
           +str(years[i+1])+
           "-08-01%22%20and%20gameTypeId=2")
    
    # Get data as JSON dict from URL
    rawDict = requests.get(URL).json()
    # Convert raw data dictionary to pandas data frame
    df = df.append(pd.DataFrame.from_dict(rawDict['data']))

# Write complete data frame to CSV (not required, just for posterity)
df.to_csv('NHL_Game_Summaries_1917_'+str(int(now))+'.csv')

# Print columns of data frame for future reference
print(df.columns)

Index(['faceoffWinPctg', 'faceoffsLost', 'faceoffsWon', 'gameDate', 'gameId',
       'gameLocationCode', 'gamesPlayed', 'goalsAgainst', 'goalsFor', 'losses',
       'opponentTeamAbbrev', 'otLosses', 'penaltyKillPctg', 'points',
       'ppGoalsAgainst', 'ppGoalsFor', 'ppOpportunities', 'ppPctg',
       'shNumTimes', 'shootoutGamesLost', 'shootoutGamesWon', 'shotsAgainst',
       'shotsFor', 'teamAbbrev', 'teamFullName', 'teamId', 'ties', 'wins'],
      dtype='object')

## Forming the dataset

Easy peasy. Now, let's fiddle with the data.

Here, I start to think about what I want to see out of the data. Right off the bat, I see that each game played has two lines corresponding to it (one for the home team and one for the away team). I only need one side of each game to visualize data - in this case, I've decided to keep the winning side and the first side of any ties.

In [2]:
# Creating a look up of teamId vs teamAbbrev (thought this would be useful...not so far)
teamIdLookup = set(zip(df['teamId'],df['teamAbbrev']))

# Removing all 'loss' sides of games and one side of any ties
res = pd.concat([df[df.wins==1],df[df.ties==1].drop_duplicates(subset = ['gameId','ties'], keep='first')])

# Filtering out unnecessary columns
res = res.loc[:,['gameId','gamesPlayed','teamAbbrev','opponentTeamAbbrev',
                 'goalsFor','goalsAgainst','gameLocationCode',
                 'wins', 'ties', 'shootoutGamesWon']].reset_index(drop=True)

# Create 'year' column
res['year'] = [int(str(x)[0:4]) for x in res.loc[:,'gameId']]

# Create 'seasonId' column
res['seasonId'] = [str(int(x))+'-'+str(int(x)+1) for x in res.year]

# Dropping any games with goal totals that aren't finite
res = res[np.isfinite(res.goalsFor)]

# Create 'homeScore' column which contains the score of the home team for each game
res['homeScore'] = [int(res.goalsFor[i] + (1 if res.shootoutGamesWon[i] == 1 else 0))
                    if res.gameLocationCode[i] == 'H' else int(res.goalsAgainst[i]) for i in res.index]

# Create 'roadScore' column which contains the score of the away team for each game
res['roadScore'] = [int(res.goalsFor[i] + (1 if res.shootoutGamesWon[i] == 1 else 0))
                    if res.gameLocationCode[i] == 'R' else int(res.goalsAgainst[i]) for i in res.index]


res.head(5)

,gameId,gamesPlayed,teamAbbrev,opponentTeamAbbrev,goalsFor,goalsAgainst,gameLocationCode,wins,ties,shootoutGamesWon,year,seasonId,homeScore,roadScore
0,1919020044,1,TSP,QBD,11.0,2.0,H,1,0,0,1919,1919-1920,11,2
1,1920020025,1,HAM,MTL,6.0,5.0,H,1,0,0,1920,1920-1921,6,5
2,1921020012,1,HAM,MTL,4.0,3.0,H,1,0,0,1921,1921-1922,4,3
3,1920020003,1,TSP,MTL,5.0,4.0,H,1,0,0,1920,1920-1921,5,4
4,1920020021,1,MTL,SEN,5.0,3.0,H,1,0,0,1920,1920-1921,5,3

## Plotly magic

I chose Plotly for the interactive and HTML embedding functionality it offered over other plotting packages. It also offers me the flexibity of configuring the plot in JavaScript (should I ever get around to learning a whole lot more JS).

I'm not going to wade into the depths of the Plotly code below - I would suggest following the [tutorials and examples here](https://plot.ly/python/getting-started/) to learn to configure plots and all their features.

In [3]:
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot


def plotly_heatmap(res):
    hSet = range(0,max(res.homeScore)+1)
    rSet = range(0,max(res.roadScore)+1)
    z = np.zeros((len(rSet),len(hSet)))
    t = []

    c = res.groupby(['roadScore','homeScore']).gamesPlayed.count()

    for j, r in enumerate(sorted(rSet, reverse = False)):
        for i,h in enumerate(sorted(hSet, reverse = False)):
            try:
                z[j][i] = int(c[j][i])
            except:
                pass
            hov = ("Home: "+str(i)+
                   "<br>Away: "+str(j)+
                   "<br>Count: "+str(int(z[j][i])))
            t.append(hov)

    t = [t[i:i+len(hSet)] for i in range(0, len(t), len(hSet))]


    data = [{
            'z': z,
            'type': 'heatmap',
            'colorscale': [
                [0, 'rgb(255, 255, 255)'],
                [0.0001, 'rgb(230,250,255)'],
                [0.01, 'rgb(150,200,255)'],
                [0.5, 'rgb(150,0,75)'],
                [0.8, 'rgb(120,0,75)'],
                [1., 'rgb(50, 0, 0)']],
            'colorbar': {
                'tick0': 0,
                'tickmode': 'array',
                'tickvals': [0, 500, 1000, 1500, 2000, 2500, 3000, 3500]},
            'hoverinfo':'text',
            'showscale': False,
            'text': t
            },
            go.Histogram(y = res.roadScore,
                         xaxis = 'x2',
                         marker = dict(color = 'rgba(0,0,1,.1)'),
                         hoverinfo = 'text', 
                         text = list(res.groupby('roadScore').gamesPlayed.count())), 
            go.Histogram(x = res.homeScore,
                         yaxis = 'y2',
                         marker = dict(color = 'rgba(0,0,1,.1)'),
                         hoverinfo = 'text', 
                         text = list(res.groupby('homeScore').gamesPlayed.count()))
            ]

    axesColor = 'rgb(200,200,200)'

    layout = go.Layout(
        #title='<b>NHL SCORE DISTRIBUTION</b>',
        titlefont = dict(size = 50, 
                         color = axesColor),
        xaxis = dict(ticks = list(hSet),
                     domain = [0,.8], 
                     nticks=len(hSet)+1,
                     side = 'top',
                     ticklen = 0,
                     tickfont = dict(color = axesColor, size = 15)),
        yaxis = dict(ticks= list(rSet),
                     domain = [0.2,1],
                     autorange = 'reversed', 
                     nticks=len(rSet)+1,
                     ticklen = 0,
                     tickfont = dict(color = axesColor, size = 15)),
        xaxis2 = dict(zeroline = False,
                      domain = [0.8,1],
                      showgrid = False,
                      tickfont = dict(color = axesColor, size = 8),
                      showticklabels=False),
        yaxis2 = dict(zeroline = False,
                      domain = [0,.2],
                      autorange = 'reversed', 
                      showgrid = False,
                      tickfont = dict(color = axesColor, size = 8),
                      showticklabels=False),
        showlegend = False,
        hovermode = 'closest',
        height = 800,
        width = 1000,
        )

    fig = go.Figure(data = data, layout = layout)
    
    return fig

In [4]:
fig = plotly_heatmap(res)

plot(fig, filename='scores-heatmap.html')

'file://c:\\users\\madha\\Projects\\NHL Scores\\scores-heatmap.html'

In [5]:
res.groupby('year').sum()

,gameId,gamesPlayed,goalsFor,goalsAgainst,wins,ties,shootoutGamesWon,homeScore,roadScore
year,,,,,,,,,
1917,65178680595,34,240.0,102.0,34,0,0,198,144
1918,51786540378,27,157.0,66.0,27,0,0,145,78
1919,92112961176,48,321.0,139.0,48,0,0,267,193
1920,92160961176,48,274.0,132.0,48,0,0,228,178
1921,92208961176,48,247.0,133.0,46,2,0,225,155
1922,92256961176,48,216.0,97.0,46,2,0,190,123
1923,92304961176,48,181.0,74.0,48,0,0,156,99
1924,173161804095,90,333.0,117.0,87,3,0,245,205
1925,242552528001,126,411.0,170.0,115,11,0,321,260
1926,423724424310,220,650.0,229.0,202,18,0,482,397
1927,423944424310,220,617.0,219.0,183,37,0,448,388
1928,424164424310,220,487.0,155.0,173,47,0,365,277
1929,424384424310,220,882.0,419.0,191,29,0,739,562
1930,424604424310,220,734.0,320.0,187,33,0,604,450
1931,370755858528,192,668.0,289.0,157,35,0,570,387
1932,417316343436,216,704.0,279.0,179,37,0,573,410
1933,417532343436,216,722.0,319.0,178,38,0,582,459
1934,417748343436,216,761.0,326.0,189,27,0,575,512
1935,371523858528,192,575.0,256.0,158,34,0,464,367
1936,371715858528,192,658.0,288.0,164,28,0,496,450
1937,371907858528,192,673.0,299.0,156,36,0,523,449
1938,325587374196,168,605.0,246.0,143,25,0,476,375
1939,325755374196,168,606.0,232.0,147,21,0,499,339
1940,325923374196,168,611.0,289.0,137,31,0,499,401
1941,326091374196,168,707.0,340.0,156,12,0,598,449
1942,291303011325,150,713.0,370.0,118,32,0,621,462
1943,291453011325,150,836.0,389.0,134,16,0,685,540
1944,291603011325,150,748.0,355.0,133,17,0,615,488
1945,291753011325,150,663.0,340.0,127,23,0,561,442
1946,350283616290,180,768.0,370.0,154,26,0,637,501
...,...,...,...,...,...,...,...,...,...
1987,1669097153220,840,4035.0,2202.0,743,97,0,3328,2909
1988,1669937153220,840,4085.0,2201.0,743,97,0,3336,2950
1989,1670777153220,840,3971.0,2218.0,740,100,0,3308,2881
1990,1671617153220,840,3811.0,1994.0,728,112,0,3156,2649
1991,1752097987640,880,4028.0,2095.0,763,117,0,3372,2751
1992,2007956668536,1008,4852.0,2459.0,908,100,0,3865,3446
1993,2176378436778,1092,4695.0,2386.0,952,140,0,3721,3360
1994,1244268675000,624,2481.0,1246.0,549,75,0,2005,1722
1995,2126691888711,1066,4478.0,2223.0,929,137,0,3545,3156
1996,2127757888711,1066,4180.0,2036.0,922,144,0,3235,2981
1997,2128823888711,1066,3811.0,1813.0,901,165,0,2909,2715
1998,2211808753278,1107,3971.0,1859.0,945,162,0,3071,2759
1999,2294875619526,1148,4230.0,2076.0,1002,146,0,3279,3027
2000,2460025357065,1230,4590.0,2192.0,1078,152,0,3551,3231
2001,2461255357065,1230,4361.0,2081.0,1081,149,0,3392,3050
2002,2462485357065,1230,4421.0,2109.0,1073,157,0,3429,3101
2003,2463715357065,1230,4293.0,2025.0,1060,170,0,3306,3012
2005,2466175357065,1230,4919.0,2524.0,1230,0,145,3986,3602
2006,2467405357065,1230,4731.0,2351.0,1230,0,164,3809,3437
2007,2468635357065,1230,4535.0,2156.0,1230,0,156,3583,3264
2008,2469865357065,1230,4667.0,2339.0,1230,0,159,3787,3378
2009,2471095357065,1230,4552.0,2251.0,1230,0,184,3714,3273
2010,2472325357065,1230,4552.0,2169.0,1230,0,149,3561,3309
2011,2473555357065,1230,4423.0,2122.0,1230,0,181,3554,3172
2012,1448654659560,720,2592.0,1230.0,720,0,97,2069,1850
2013,2476015357065,1230,4421.0,2152.0,1230,0,178,3536,3215
2014,2477245357065,1230,4419.0,2130.0,1230,0,170,3510,3209
2015,2478475357065,1230,4476.0,2089.0,1230,0,107,3463,3209
2016,2479705357065,1230,4552.0,2152.0,1230,0,99,3596,3207
2017,2563633228356,1271,5032.0,2417.0,1271,0,103,3975,3577